// introSection1
#introSection1 {
    color: #fff;
    font-family: 'PP Mori';

    .container {
        display: flex;
        align-items: center;

        p {
            font-size: 5.5vw;
            font-weight: 100;
            line-height: 1.1;
            
            em {
                &:nth-child(1) {font-weight: 600;}
                &:nth-child(3) {font-weight: 600;}
                &:nth-child(4) {font-style: italic;}
                &:nth-child(6) {font-weight: 600; font-style: italic;}
                &:nth-child(7) {font-style: italic;}
            }
        }
        svg {
            position: absolute;
            right: 3vw;
            top: 11vw;
            width: 50%;
        }
    }
}

// introSection2
#introSection2 {
    color: #fff;
    font-family: 'PP Mori';

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
   
        .spin__stick {
            position: relative;
            z-index: 10;
            background-color: #fff;
            &.active {
                background-image: url(./assets/images/spin__image01.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
            }
        }
        .spin__text {
            position: absolute;
            left: 30%;
            top: 46%;

            span {
                position: absolute;
                width: 20vw;
                display: inline-block;
                font-size: 1.35vw;
                font-weight: 300;
                color: #aaa;
                display: none;
                &.active {
                    display: block;
                }

                em {
                    color: #fff;
                    font-size: 1.4vw;
                }
            }
        }
        .spin__image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -80%);
            z-index: 100;
            width: 300px;
            height: 500px;
            // background-image: url("../../images/spin__image01.png");
            // background-position: center center;
            // background-size: cover;
            // background-repeat: no-repeat;

            img {
                object-fit: cover;
                -webkit-mask-size: cover;
                mask-size: cover;
            }
        }
    }
}